.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    font-size: xx-large;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Optional: Prevent scrollbars */
    background-color: black;
    color: white;
    font-family: Syncopate !important;
}

.all-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 99vw;
    height: 99vh;

    &>* {
        flex: 1;
    }
}

#header-img-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    & :first-child {
        flex: 0.1;
    }
    & :nth-child(2) {
        flex: 0.95;
    }
    & :last-child {
        flex: 0.05;
    }
}

#header, #text-before-time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em; /* Adjust the font size for the time */
    font-weight: bold;
}

#text-before-time {
    transform: translateY(1.5vh);
    display: flex;
    justify-content: center;
    color: white;
}

#time {
    white-space: pre;
    color: red;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

    & * {
        border-radius: 60px;
    }
}

#narrow-img-container {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 49%;
    height: 95%;
    & :first-child {
        margin-right: 2%;
    }

    &>* {
        flex: 1;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        border: 2px solid;
        border-color: #926c2f;
        box-shadow: 5px 5px 5px #ffffff;
    }
}

#broad {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    
    /* Optional: Maintain aspect ratio and fit within the space */
    border: 11px solid;
    border-color: #ffffff;
    box-shadow: 11px 11px 11x #ffffff;
}

#tableClockContainer {
    margin: 33px;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;
}

.prayerdiv {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.sabah,
.izlazak,
.podne,
.ikindija,
.aksam,
.jacija {
    /* border: 1px solid black; Add a border for visibility */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.fade-in-animation {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 1.2s;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    /* Adjust the alpha (fourth value) for transparency */
    border-radius: 60px;
    /* Optional: Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}